.owl-alt-controls1 .owl-nav{
	text-align: left;
	position: absolute;
	top: -57px;
	left: -8px;
	right: 0;
}

.owl-alt-controls1 .owl-nav div{
	display: inline-block;
	padding: 0 8px;
}

.owl-alt-controls1 .owl-nav div:hover i{
	opacity: 0.75;
}

.owl-alt-controls .owl-nav{
	text-align: left;
	position: absolute;
	top: -68px;
	left: 12px;
	right: 0;
}

.owl-alt-controls .owl-nav div{
	display: inline-block;
	padding: 0 5px;
	margin-right: 6px;

	opacity: 0.5;
	color: #fff;

	width:18px !important;
	height:19px;
	border-radius: 3px;
}
 .owl-prev{
display: block;

	 background-image: url("../../image/right.png") !important;
	width:20px;
	height:10px;
	margin-right:10px;
}
 .owl-next{

background-image: url("../../image/left.png") !important;
	margin-right:10px;
}
.owl-alt-controls .owl-nav div:hover{
	opacity: 0.75;
}
