@import url("font-awesome.min.css");

@font-face {
    font-family: 'wyekan';
    /*تعریف یک نام برای فونت*/
    src: url('../../font/wyekan/wyekan.eot');
    /*اکسپلورر 9 به بعد*/
    src: local('W_yekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/
    local('W_yekan'), /*برای برخی از مرورگرها مانند سافاری*/
    url('../../font/wyekan/wyekan.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
    url('../../font/wyekan/wyekan.woff') format('woff'), /*مرورگر های جدید*/
    url('../../font/wyekan/wyekan.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
    url('../../font/wyekan/wyekan.svg#wyekan') format('svg');
    /*نسخه های قدیمی سیستم عامل iOS*/
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "web-vazir";
    src: url("../../font/vazir/vazir-fd-wl.eot"); /* IE */
    src: url("../../font/vazir/vazir-fd-wl.eot?#iefix") format("embedded-opentype"), /* IE */
    url("../../font/vazir/vazir-fd-wl.woff2") format("woff2"), /* Modern Browsers */
    url("../../font/vazir/vazir-fd-wl.woff") format("woff"), /* Modern Browsers */
    url("../../font/vazir/vazir-fd-wl.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
}

@font-face {
    font-family: "webs-vazir";
    src: url("../../font/vazir/vazir-bold-fd-wl.eot"); /* IE */
    src: url("../../font/vazir/vazir-bold-fd-wl.eot?#iefix") format("embedded-opentype"), /* IE */
    url("../../font/vazir/vazir-bold-fd-wl.woff2") format("woff2"), /* Modern Browsers */
    url("../../font/vazir/vazir-bold-fd-wl.woff") format("woff"), /* Modern Browsers */
    url("../../font/vazir/vazir-bold-fd-wl.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: bold;
}
*{
    font-family: web-vazir;
}
.navbar-inverse{
    background-image: url('../../image/back-head.jpg') !important;
    background-color: #0b315e !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height:86px;
    position: relative;

    border: none !important;

}
.boredr-none{
    border-left:none !important;
}
a:after{
    border:none !important;
    background:none  !important;
}
.navbar-nav{
    top:50px !important;
    position: relative !important;
    padding: 0 !important;
    z-index: 99!important;
}
.navbar-nav li{
    border-right:none !important;
    border-left:2px solid white;
    height:20px;
}
.navbar-nav li a{
    padding: 0px 5px !important;
    margin: 0px !important;
    color: #fff !important;
    line-height: 1.5 !important;
    z-index: 999!important;
    &:hover{
        color: #cdbd40;
    }
}
.navbar-nav a:hover{
    color: #cdbd40 !important;
}
.logo-bar{
    background-image: url('../../image/header.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    z-index:2!important;
    height: 169px;
    top:19px;
    width: 100%;
}
.carousel,

.active {
    height: 60% !important;
}

.carousel-inner {
    height: 100% !important;
}
.carousel-inner .item{
    height: 100% !important;
}
 .active{
    height: 100% !important;
}
.carousel-indicators .active{
    width: 10px !important;
    height: 10px !important;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main-content{
    position: relative;

}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    
}
.row{
    margin: 0px !important;
}
.navbar{
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    background: #fdb808;
    border:none;
}
.nav2{
    margin-top: 14px !important;
    margin-right: 34px !important;
}
.nav2 .dropdown-menu{
    background-color:#0b315e !important; ;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li{
    border-right: 8px solid #ffdb80;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a{
    color:#fff;
    font-size: 12px;
    font-family: web-vazir;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li:hover {
    border-right: none !important;
}
.logo img{
    width:40%;
    float: left;
}
.slider{
    margin-top:6px;
    margin-right:0px;
    margin-left:0px;
    position: relative;
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.slider img{
    width: 100%;
}
.slider-head {
    background-color: #f8f8f8;
    border-bottom: 1px dotted #d8450b;
    h1{
        font-size: 18px;
        font-family: wyekan;
        text-align: center;
        line-height: 2;
    }
}
.slider-text{
    
    p{
        text-align: justify;
        padding: 8px;
        font-family: wyekan !important;
    }
}
.line{
    border-top:1px solid #0a2e59;
    margin-top:30px;
}
.gallery-item{
    background-color: #0a2e59;
    min-height: 300px;
    width:100%;
    font-family: web-vazir;
}
.gallery-item img{
    width:100%;
}
.gallery-item h2{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.gallery-item h3{
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.news{
    margin-top: 15px;
    padding: 5px 15px;
    border-bottom: 1px solid #0a2e58;
    border-top: 1px solid #0a2e58;

}
.news span{
    display: inline;
    margin-top: 12px;
}
.news h2{
   display: inline;
    width:50%;
    font-size: 19px;
    padding: 0px !important;
    margin-right: 10px;
    line-height: 1;
    color: #0a2e58;
}
.put-right{
    float: right;
}
.news-body{
    padding: 5px 1px;
    position: relative;
    top:10px;

}
.news-body a{
    color:#0a2e58;

   ;
}
.space{
    margin-top: 40px;
}
.news-body a h3{
    font-size: 13px;
    width: 50%;
    margin-right: 45px;
}
.gallery-list .gallery-item{
    min-height: 450px;
}
.gitem{
    margin-top:15px;
    height:250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.gitem img{
    width: 100%;
    object-fit: cover;
}
.gitem-title{
    height:50px;
    position: absolute;
    bottom: 0px;
    width:100%;
    background-color: #0a2e58;
}
.gitem-title h4{
    color: #fff;
    font-size: 13px;
    padding: 2px 10px;
}
.owl-carousel{
    list-style: none;
    margin-top: 15px;
}
.owl-carousel .owl-nav{

    margin-top: 30px !important;
}

.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left

    background-image: url("../../image/left.png") !important;
    width:20px;
    height:10px;
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
}
.news-body{

    padding: 3px 40px;
}
.new-news-body{
    min-height: 300px;
}
.icon{
    width:41px;
    height:42px;
    position: relative;
    margin-right:15px;
    display: inline-block;
}
.address{
    margin-bottom: 30px;
    padding-bottom: 40px;
}
.facebook{

    background-image: url('../../image/facebook.png');
}
.telegram{

    background-image: url('../../image/telegram.png');
}
.insta{

    background-image: url('../../image/insta.png');
}
.tell{
    top:10px;
    background-image: url('../../image/tell.png');
}
.map{
    top: 10px;
    background-image: url('../../image/map.png');
}
.answer{
    display: inline-block;
    line-height: 1;
}
.comment{
    padding: 20px;
    margin-top:40px;
    position: relative;
}
.description-tab{
    padding: 15px 25px;
    text-align: justify;
}
.comment .news{
    border-top: none;
}
.user-message-form{
    margin-top: 20px;
}
.news-item{
    border:1px solid #ccc;
    padding: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    margin: 20px 2px !important;
}
.news-page{
    padding: 10px;
    margin: 10px;
}
.news-item-body{
    padding:15px;
}
.view{
   width: 100%;
    border-top: 1px solid #eee;
    padding: 10px;
}
.news-item a{
    color: #888;
    text-decoration: none;
}
.news-item:hover{
    box-shadow: 1px 1px 5px 5px #eee;
}
.des-news{
    color:#999a9b;
    height: 40px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    max-width: 90%;

    margin: 0 auto;
    font-size:15px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.img{
    height:150px;
    overflow: hidden;
}
.news-descrip img{
    width:100%;
}
.img img{
    object-fit:cover ;
}
.footer{
    background-image: url('../../image/footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0a2e58;
    margin-top: 30px;
    min-height: 47px;
}